#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__channel-friends-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

/* #splash-screen fas fa-comment {
  position: relative;
} */

/* 화면 전체의 중간에 오고 싶으니까 body 기준으로 하기. */

.splash-screen__title {
  /* padding: 30px; */

  position: absolute;
  font-size: 25px;
  color: var(--yellow);
  font-weight: 600;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: -4px;
  margin-right: -5px;

  /* top: 50%;
  left: 50%;
  margin-left: -43px;
  margin-top: -16px; */
}
/* new main 브랜치 시작 */
